<h1> Create a New Workout Routine Here </h1>
<h3> A routine is defined by the goal of that specific workout routine. So input the main focus on the workout in a word or phrase</h3>
<h5> You do not have to write the 'day' after it </h5>
<ul>
  <li>Chest day</li>
  <li>Cardio day</li>
  <li>Legs and Back day</li>
</ul>
<h3> It can be whatever you want! </h3>

<%= form_for(@routine) do |f| %>
    <%= f.label :day %>
    <%= f.text_field :day %>

    <%= f.submit "Create new Routine" %>
<% end %>