<h1> <%= @routine.day %> show page! </h1>

<h2> By: <%= @routine.user.username %>

<% if @routine.user == current_user %>
<h4><%= link_to "Edit Routine Name", edit_routine_path(@routine)%></h4>
<h4><%= link_to "Delete Routine", method: :destroy %></h4>
<% end %>