<h1> Welcome <%=@user.username %> </h1>

<h3> Use the Nav Bar on top to go to your desired page! You can...</h3>

<ul>
    <li>View Your Routines</li>
    <li>Create a New Routine</li>
    <li>Look at Comments on Routines</li>
    <li>Comment on Other Routines</li>
    <li>And much more! Take a look around!</li>
</ul>